.not__see--text {
	margin: 0;
	padding: 0;
	height: 0;
	opacity: 0;
}

.icons-rotate {
	transform: rotate(180deg);
}

.not__see--row {
	color: transparent;
	transform: rotateX(180deg);
	opacity: 0;
}

.see--row {
	color: $main-color;
	transform: rotateX(0deg);
	opacity: 1;

	&::after {
		@include addons-background;
		background-color: $yellow;
	}
}