* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'Quicksand', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: $main-color;
}

h1 {
	margin: 2rem 0;
    color: $white;
	font-size: 3rem;
	text-align: center;
}

h2 {
	margin: 0 .3em;
	padding: 0 .2em;
    color: $white;
	font-size: 2.5rem;
	text-align: center;
	text-transform: capitalize;
}

h3 {
    margin: 1em 1em 0 1em;
    color: $yellow;
	font-size: 2rem;
    text-align: center;
}

h4 {
    margin-top: 1.5em;
	margin-bottom: .5em;
    color: $yellow-secend;
    font-size: 1.8rem;
	text-align: center;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	color: $white;
}

span {
    font-size: 1.8rem;
}

table {
    min-width: 100%;
	font-size: 1.6rem;
	border: 2px solid $whiteDark;
	border-collapse: collapse;
	color: white;

	thead {
		font-weight: bold;
		text-transform: uppercase;
		color: $yellow;
	}

	tr,
	th {
		height: 4rem;
		border: 1px solid $whiteDark;
		perspective: 1000px;
		overflow: hidden;
	}
	
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}