$main: #fff;
$colorSimple: rgb(170, 190, 233);
$colorMedium: rgb(140, 160, 235);
$colorHard: #7882eb;
$colorBtn: #1a52a7;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #333;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

button {
	border: none;
	box-shadow: 0 8px 20px rgba(255, 255, 255, 0.116);
}

h2,
h3 {
	font-size: 3rem;
}




.table__info__section {
	min-width: 100%;
	padding: 4rem 2rem;
	color: #333;
	font-size: 1.8rem;

	&-title {
		padding: 2rem;
		text-align: center;
	}

	& .table__info__form-box {
		margin: 2rem;
		border-radius: 12px;
		box-shadow: 0 8px 20px rgba(51, 51, 51, 0.2);

		& .table__info__form-title {
			display: flex;
			align-items: center;
			margin: 1rem 0;
			padding: 2rem;
			font-size: 2rem;
			cursor: pointer;

			& .fa-plus,
			.fa-minus {
				margin: 0 2rem;
				pointer-events: none;
			}
		}

		& .table__info__form__text {
			&-box {
				padding: 0 2rem 2rem 2rem;
			}

			&__structure {
				margin: 1rem 0;
				color: #1a52a7;
				& p:first-child {
					margin-bottom: .3rem;
					font-weight: bold;
				}
			}
		}
	}
}

.table__section-box {
	& .table__section-btns {
		padding: 4rem 2rem;
		background-color: #333;
		color: #fff;

		&_title {
			padding: 2rem;
			text-align: center;
		}

		&_box {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 2rem 0;

			& p {
				font-size: 1.8rem;
			}

			& .btn-level,
			.btn-set {
				margin: 1rem;
				padding: 1.5rem;
				font-size: 1.4rem;
				font-weight: bold;
				color: $main;
				background-color: $colorBtn;
				text-transform: uppercase;
				border-radius: 12px;
				cursor: pointer;
			}

			[data-show='simple'] {
				margin-bottom: 3rem;
				background-color: $colorSimple;
			}

			[data-show='medium'] {
				margin-bottom: 3rem;
				background-color: $colorMedium;
			}

			[data-show='hard'] {
				margin-bottom: 5rem;
				background-color: $colorHard;
			}
		}
	}

	.table__section {
		padding-top: 2rem;

		&-title {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem;

			& .table__section-title_popup {
				display: none;
				position: absolute;
				top: 100%;
				left: 10%;
				width: 80%;
				transform: rotateX(-50%);
				padding: 4rem;
				font-size: 1.8rem;
				background-color: #aabee9;
				border-radius: 12px;
				color: #333;
				border: 3px solid #333;
			}

			& .fa-circle-info {
				padding: 0 2rem;
				font-size: 3rem;
				cursor: pointer;

				&:hover ~ .table__section-title_popup {
					display: inline-block;
				}
			}
		}

		&__structure{
			overflow-x: scroll;
		}

		table {
			margin: 2rem 0 4rem 0;
			font-size: 1.8rem;
			color: #333;
			background-color: #ddd;
			border-collapse: collapse;
			border-radius: 6px;

			& thead {
				font-weight: bold;
				letter-spacing: 4px;
				text-transform: uppercase;
				color: #fff;
				background-color: #1a52a7;

				& th {
					padding: 1em 1.5em;
				}
			}

			& th {
				padding: 1rem;
				height: 2rem;
				border: 1px solid #333;
				overflow: hidden;
			}

			.table__word-pl {
				font-size: 1.6rem;
				color: rgb(39, 0, 112);
				font-weight: bold;
			}

			.table__word-ang {
				letter-spacing: 1.5px;
				transition: color 0.4s;
				cursor: pointer;
			}
		}
	}
}

.off {
	display: none;
}

.hide {
	color: transparent;
}

.colorSimple {
	background-color: $colorSimple;
}
.colorMedium {
	background-color: $colorMedium;
}
.colorHard {
	background-color: $colorHard;
}

footer {
	padding: 2rem;
	background-color: #333;
	color: $main;
	text-align: center;
	font-size: 1rem;
}

@import './medium';
@import './large';